body{
	background-color:lightyellow;
}

h3{
	background-color:indianred;
}

#d1{
	background-color:khaki;
}

#d2{
	background-color:khaki;
}

#d3{
	background-color:khaki;
}

#d4{
	background-color:khaki;
}

#d5{
	background-color:khaki;
}